{% extends "blog/base.html" %}
{% block title_block %}NEHA'S BLOG HOME PAGE{% endblock %}
  {% block content %}
    <h1>NEHA'S BLOG</h1>
    <h2>Changes on feature branch</h2>
    {%if tag%}
    <h2>Posts tagged with "{{tag.name}}"</h2>
    {%endif%}
    {% for post in post_list %}
       <h2><a id="title" href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
      <p>Tags:
         {% for tag in post.tags.all %}
         <a href="{%url 'post_list_by_tag_name' tag.slug%}" class="btn btn-success">{{tag.name}}</a>
         {% endfor %}
      </p>
       <p id="date">published on {{post.publish}} by {{post.author|title}}</p>
       {{post.body|truncatewords:30|linebreaks}}
    {% endfor %}
    {% include 'blog/pagination.html' with page=post_list %}
  {% endblock %}